body{
    box-sizing: border-box !important;
}

.container-form{
    width: 400px;
}

.form-check, .form-check-label, .form-check-input{
    cursor: pointer;
}

.container-fluid {
    height: 92vh !important;
}